.cpcontent{
    width: 450px;
    height: 250px;
    border: 1px solid   rgb(12, 2, 56);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.button{
    height: 30px;
    background:  rgb(12, 2, 56);
    color: white;
    cursor: pointer;
    border: none;
}

.button:hover{
    background: blue;
}